<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <test name="SignInTests" >
        <groups>
            <run>
                <include name="smoke"  />
            </run>
        </groups>
        <classes>
            <class name="TestAllUserTypes" />
        </classes>
    </test>
</suite>


<!--
<suite name="mysuite" verbose="1">
    <test name="smokeTest">
       <groups>
            <run>
                <include name="smoke"  />
            </run>
      </groups>
        <classes>
            <class name="TestAllUserTypes" />
        </classes>
    </test>
</suite>
-->